@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

.logo-font {
    font-family: 'Hammersmith One', sans-serif;
}
.color-nav {
    background-color: #000000;
}
.navbar-brand {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
}